<table>
    <tr id="t3-row1">
        <td class="tdbig" rowspan="2" colspan="2"></td>
        <td class="tdsmall"></td>
        <td class="tdwide" colspan="2"></td>
        <td class="tdsmall"></td>
    </tr>
    
    <tr id="t3-row2">
        <td class="tdsmall"></td>
        <td class="tdsmall"> </td>
        <td class="tdsmall"></td>
        <td class="tdhigh" rowspan="2"></td>
    </tr>
    
    <tr id="t3-row3">
        <td class="tdsmall"></td>
        <td class="tdsmall"></td>
        <td class="tdwide" colspan="2"></td>
        <td class="tdsmall"></td>
    </tr>
    
</table>