<table>
    <tr id="t2-row1">
        <td class="tdhigh" rowspan="2">hello</td>
        <td class="tdsmall">hello</td>
        <td class="tdsmall">hello</td>
        <td class="tdsmall">hello</td>
        <td class="tdsmall">hello</td>
		<td class="tdsmall">hello</td>
        <td class="tdhigh" rowspan="2">hello</td>

    </tr>
    
    <tr id="t2-row2">
        <td class="tdsmall">hello</td>
        <td class="tdsmall">hello</td>
        <td class="tdbig" colspan="2" rowspan="2">hello</td>
        <td class="tdsmall">hello</td>
    </tr>
    
    <tr id="t2-row3">
        <td class="tdsmall">hello</td>
        <td class="tdwide" colspan="2">hello</td>
        <td class="tdsmall">hello</td>
        <td class="tdsmall">hello</td>
    </tr>
    
</table>