<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<table>
    <tr id="t2-row1">
        <td class="tdhigh" rowspan="2">hello</td>
        <td class="tdsmall">hello</td>
        <td class="tdsmall">hello</td>
		<td class="tdsmall">hello</td>
        <td class="tdhigh" rowspan="2">hello</td>

    </tr>
    
    <tr id="t2-row2">
        <td class="tdbig" colspan="2" rowspan="2">hello</td>
        <td class="tdsmall">hello</td>
    </tr>
    
    <tr id="t2-row3">
        <td class="tdsmall">hello</td>
        <td class="tdsmall">hello</td>
        <td class="tdsmall">hello</td>
    </tr>
    
</table>
</body>
</html>