<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<table>
    <tr id="t1-row1">
        <td class="tdsmall"></td>
        <td class="tdsmall"></td>
        <td class="tdsmall"></td>
        <td class="tdwide" colspan="2"></td>
        <td class="tdbig" colspan="2" rowspan="2"></td>

    </tr>
    
    <tr id="t1-row2">
        <td class="tdsmall"></td>
        <td class="tdbig" colspan="2" rowspan="2"></td>
        <td class="tdsmall"></td>
        <td class="tdsmall"></td>
    </tr>
    
    <tr id="t1-row3">
        <td class="tdsmall"></td>
        <td class="tdwide" colspan="2"></td>
        <td class="tdsmall"></td>
        <td class="tdsmall"></td>

    </tr>
    
</table>
</body>
</html>
