<table>
    <tr id="t2-row1">
        <td class="tdsmall"></td>
        <td class="tdhigh" rowspan="2"></td>
        <td class="tdsmall"></td>
        <td class="tdsmall"></td>
        <td class="tdsmall"></td>
        <td class="tdsmall"></td>

    </tr>
    
    <tr id="t2-row2">
        <td class="tdsmall"></td>
        <td class="tdsmall"></td>
        <td class="tdsmall"></td>
        <td class="tdbig" colspan="2" rowspan="2"></td>
    </tr>
    
    <tr id="t2-row3">
        <td class="tdsmall"></td>
        <td class="tdsmall"></td>
        <td class="tdwide" colspan="2"></td>
    </tr>
    
</table>